$ButtonReset-color: $g-primary !default;
$ButtonReset-hover-color: $g-primary-dark !default;


/*　sircus-components-button-reset
======================================== */
.Button--reset {
  background-color: transparent;
  border-color: transparent;
  color: $ButtonReset-color;
}

.Button--reset:hover,
.Button--reset:focus,
.Button--reset:active,
.Button--reset.is-active {
  border-color: transparent;
  color: $ButtonReset-hover-color;
  text-decoration: underline;
}
